html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    font-family: sans-serif;
    background-color: #f2f2f2;
}
.navigation {
    background-color: #000000;
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
}
.fa {
    content: "\f09a";
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    padding: 0.8rem;
    position: relative;
    text-decoration: none;
}
.navigation a:focus::after,
.navigation a:hover::after {
    opacity: 1;
}
.navigation a::after {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0);
    content: '';
    height: 50%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
}
.navigation--inline ul {
    display: flex;
}
header{

}
.header-title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 60px;
    margin-top: 76px;

}
.element.style{
    padding-bottom: 35px;
    padding-top: 40px;
    font-size: 8px;
}
mark {
    background-color: black;
    color: white;
}
.bottomright {
    position: absolute;
    bottom: 50px;
    right: 80px;
    font-size: 20px;
    color: white;
}
img {
    width: 100%;
    height: auto;
}
.ust-kisim{
    text-align:center;
}
.top-banner{
    width: 100%;
    position: relative;
}
.top-banner .banner-text{
    position: absolute;
    bottom: 100px;
    left: 30px;
}
.top-banner .banner-text h3, .top-banner .banner-text h4{
    color: #fff;
    font-family: Arial;
    font-size: 42px;
}
.top-banner .banner-text button{
    padding: 15px 25px;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 3px;
    border: 0 none;
    font-size: 16px;
    background-color: rgba(255,255,255,0.5);
}
.content{
    width: calc(100% - 100px);
    margin: 0 auto;
    margin-top: 25px;
}
.content .left{
    width: calc((2 * (100% - 40px)) / 3);
    float: left;
    margin-right: 40px;
}
.content .right{
    width: calc((100% - 40px) / 3);
    float: right;
    padding-top: 9px;
}

.content .left .blog-content {
    
}
.content .left .blog-content .blog-item{
    background-color: #fff;
    padding: 25px;
    margin: 10px;
    float: left;
}

.content .left .blog-content .blog-item .post-content{
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 25px;
}

.content .left .blog-item .title {
    text-align: center;
    margin-bottom: 30px;
}
.content .left .blog-item .title h4 {
    font-size: 21px;
    margin: 10px 0;
}
.content .left .blog-item .title h5 {
    font-size: 18px;
    margin: 10px 0;
}
.content .left .blog-item .title h5 span{
    color: #888;
}

.content .left .blog-item .comments{
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #CCC;
}


.content .left .blog-item .comments .avatar{
    width: 90px;
    margin-right: 40px;
    float: left;
}

.content .left .blog-item .comments .name, .content .left .blog-item .comments .date{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    float: left;
}

.content .left .blog-item .comments .date{
    color: #888;
    margin-left: 15px;
    font-size: 15px;

}

.content .left .blog-item .comments .details{
    width: calc( 100% - 90px - 40px);
    float: left;

}
.content .left .blog-item .comments .comment-text{
    width: 100%;
    float: left;
}
.content .right .post-content{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
.content .right .blog-item .comments{
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #CCC;
}
.content .right .blog-item .comments .avatar{
    width: 10px;
    margin-right: 10px;
    float: left;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.content .right .blog-content {

}
.content .right .blog-content .blog-item {
    background-color: #fff;
    padding: 25px;
    margin: 10px;
}